body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  padding-top: 5rem;
}

h1 {
  font-size: var(--fs-900);
  color: var(--clr-primary-700);
  line-height: 1;
}

.lead {
  font-size: var(--fs-500);
}
